@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: beige;
    align-items: center;
}

.cards{
    display: flex;
    height: fit-content;
    gap: 3rem;
}

.box-2{
    height: 500px;
    width: 600px;
}

.box-3{
    height: 500px;
    width: 600px;
}

.box-4{
    height: 500px;
    width: 600px;
}

.box-5{
    height: 500px;
    width:  600px;
}

.box-6{
    height: 500px;
    width:  700px;
}

.box-7{
    height: 500px;
    width:  700px;
}

.box-8{
    height: 500px;
    width:  600px;
}

.box-9{
    height: 500px;
    width:  600px;
}

.box-10{    
    height: 500px;
    width:  600px;
}

.box-11{
    height: 500px;
    width:  600px;
}

.box-12{    
    height: 500px;
    width:  600px;
}

.box-13{
    height: 500px;
    width:  600px;
}

.box-14{
    height: 500px;
    width:  600px;
}

.box-15{
    height: 500px;
    width:  600px;
}

.box-16{
    height: 500px;
    width:  600px;
}

.box-17{
    height: 500px;
    width:  600px;
}

.box-18{
    height: 500px;
    width:  600px;
}

.box-19{    
    height: 500px;
    width:  600px;
}

.box-20{
    height: 500px;
    width:  600px;
}

.box-21{
    height: 500px;
    width:  600px;
}

.box-22{
    height: 500px;
    width:  600px;
}

.btn{
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
}